name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pytest-playwright

    - name: Install Playwright Browsers
      run: python -m playwright install --with-deps

    - name: Run Playwright tests
      # Geramos o relatório HTML automaticamente
      run: pytest --html=report.html --self-contained-html

    - name: Upload Test Report
      if: always() # Garante que o relatório seja salvo mesmo se o teste falhar
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: report.html
        retention-days: 30