name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    # Define o fuso horário para o ambiente de execução
    env:
      TZ: America/Sao_Paulo

    steps:
    - uses: actions/checkout@v4

    # Configura o fuso horário no sistema operacional Linux (Ubuntu)
    - name: Configurar Fuso Horário (São Paulo)
      run: sudo ln -sf /usr/share/zoneinfo/America/Sao_Paulo /etc/localtime

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Instala os plugins necessários para o relatório e para o Playwright
        pip install pytest-playwright pytest-html
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Install Playwright Browsers
      run: python -m playwright install --with-deps

    - name: Run Playwright tests
      # O relatório agora utilizará o horário configurado acima
      run: pytest --html=report.html --self-contained-html

    - name: Upload Test Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: report.html
        retention-days: 30