name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Instala as dependências do seu projeto
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install pytest-playwright

    - name: Install Playwright Browsers
      run: python -m playwright install --with-deps

    - name: Run Playwright tests
      # Removido o --headed=false, agora o pytest usará a configuração padrão
      run: pytest